<html>
<head>
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>    
    <script src="/static/home.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    
    <style>
        body {
            padding-left:5px;
            background-color: #89868a;
background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
 }

        
    </style>

</head>
<body>
<h2>Mi Veranitou</h2>
<h3>Consultas</h3>

<div ng-app="VeranitouConsultasApp">
        <div ng-controller="VeranitouConsultasController" data-ng-init="loadConsultas(2,1)">

            <nav aria-label="Page navigation example">
                <ul class="pagination" style="margin: 1rem  0rem 1rem 0rem;">
                  <li class="page-item"><a class="page-link" href="#" ng-click="loadConsultas(2,page-1)">Anterior</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#" ng-click="loadConsultas(2,page+1)">Siguiente</a></li>
                </ul>
            </nav>

            <div class="form-group">
                <label for="exampleSelect1">Cantidad por pagina</label>
                <select class="form-control" id="exampleSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>

            <div ng-repeat="consulta in consultas" class="card" style="width: 40rem;">
                <div class="card-body">
                    <h4 class="card-title">{{consulta.nombre}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{consulta.email}} - {{consulta.fecha | date : 'dd/MM/yyyy HH:mm:ss'}}</h6>
                    <p class="card-text">{{consulta.consulta}}</p>
                    <a href="#" class="card-link">Eliminar</a>
                </div>
            </div>


            <nav aria-label="Page navigation example" style="margin: 1rem  0rem 1rem 0rem;">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#" ng-click="loadConsultas(2,page-1)">Anterior</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#" ng-click="loadConsultas(2,page+1)">Siguiente</a></li>
                </ul>
            </nav>

        </div>
</div>
<p>Server uptime: </p>

</body>
</html>
